* {
    margin: 0;
    padding: 0;
}
body {
    font-family: system-ui;
}
.container {
    background: #ddd;
    padding: 15px;
    margin: 15px auto;
    max-width: 1000px;
    display: grid;
    gap: 15px;
    /* et punktum giver et tomt felt med white space */
    grid-template-areas:
        "logo   nav    nav     nav"
        "main   main   .       banner"
        "main   main   banner2 banner2"
        ".      footer footer  footer";
}
.grid-items {
    background: limegreen;
    padding: 15px;
    color: white;
    font-size: 2em;
}
.one {
    grid-area: logo;
}
.two {
    grid-area: nav;
}
.three {
    grid-area: main;
}
.four {
    grid-area: banner;
}
.five {
    grid-area: banner2;
}
.six {
    grid-area: footer;
}